<!-- <div class="fluid-container p-lg-1">
    <div class="row">
        <div class="d-flex align-items-start">
            <div class="col-lg-2">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                  </div>
            </div>
            <div class="col-lg-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                  </div>
            </div>
        </div>
    </div>
</div> -->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <!-- <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar> -->
  
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 16 : 0" style="min-height: 500px;">
        <mat-sidenav #snav [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" class="custom-mat-sidenav" style="position: absolute;">
            <mat-nav-list style="padding-right: 5px;padding-left: 5px;">
                <a mat-list-item *ngFor="let item of menuItems" (click)="onItemClick(item.path)" [ngClass]="{'custom-active':item.path === selectedPath}" class="custom-active" [routerLink]="item.path">{{item.displayName}}</a>
            </mat-nav-list>
        </mat-sidenav>
        
        <mat-sidenav-content class="p-2" >
            <!-- <button mat-mini-fab aria-label="Example icon button with a bookmark icon" (click)="snav.toggle()" *ngIf="mobileQuery.matches" class="mb-2">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button> -->
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="snav.toggle()" *ngIf="mobileQuery.matches" class="mb-2">
                <mat-icon>arrow_forward_ios</mat-icon>
              </button>
        <!-- <button mat-icon-button color="accent" (click)="snav.toggle()" *ngIf="mobileQuery.matches" class="mb-2"><mat-icon>arrow_forward_ios</mat-icon></button> -->
        <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
