.nav-item.active {
  display: flex;
  align-items: center;
  background-color: #4f92ff;
  color: #fff !important;
  border-radius: 12px;
  box-shadow: 1px 1px 6px 1px #ccc;
  padding: 6px 20px;
  /* background-image: linear-gradient(to right, #4f92ff, #99bffd); */
  background-image: linear-gradient(to right, #507cff, #adc1e2c4)
}

a{
    cursor: pointer;
}