<div class="container p-2" style="background-color: #f7f9fc">
    <mat-card>
      <div class="row">
  
        <div class="col-lg-12">
          <span style="display: inline-flex;margin-bottom: 12px;">
            <mat-icon class="m-1">edit</mat-icon>
            <mat-card-title style="margin: 6px">Personal Info</mat-card-title>
          </span>
          <mat-divider></mat-divider>
        </div>
  
        <div class="col-lg-12">
          <h4 style="border-bottom: 1px solid #e0e0e0;margin-top:20px;font-size: 16px;">Name</h4>
        </div>
  
        <div class="col-lg-1">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Prefix</mat-label>
            <mat-select>
              <mat-option *ngFor="let prefix of prefixes" [value]="prefix.value">
                {{ prefix.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter Your First Name" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Middle Name</mat-label>
            <input matInput placeholder="Enter Your Middle Name" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter Your Last Name" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-1">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Suffix</mat-label>
            <mat-select>
              <mat-option *ngFor="let suffix of suffixes" [value]="suffix.value">
                {{ suffix.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="col-lg-2">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Gender</mat-label>
            <mat-select>
              <mat-option *ngFor="let gender of masculine" [value]="gender.value">
                {{ gender.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="col-lg-2">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Provider Title</mat-label>
            <mat-select>
              <mat-option *ngFor="let title of provTitle" [value]="title.value">
                {{ title.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Maritial Status</mat-label>
            <mat-select>
              <mat-option *ngFor="let mStatus of maritialStatus" [value]="mStatus.value">
                {{ mStatus.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Spouse Name</mat-label>
            <input matInput placeholder="Enter Spouse Name" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-2 mt-3">
          <button mat-raised-button class="w-100" >More Names</button>
        </div>
  
        <div class="col-lg-12">
          <mat-accordion class="p-2">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
                <mat-panel-description>
                  Expansion Panel
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
              </mat-form-field>
          
             </mat-expansion-panel>
          </mat-accordion>
        </div>
  
        <div class="col-lg-12">
          <h4 style="border-bottom: 1px solid #e0e0e0;margin-top:20px;font-size: 16px;">Demographics</h4>
        </div>
  
        <div class="col-lg-3 col-md-12 col-sm-12">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" class="w-100">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="col-lg-3 col-md-12 col-sm-12">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>City of Birth</mat-label>
            <input matInput placeholder="Enter City of Birth" class="w-100" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>State/Province of Birth</mat-label>
            <input matInput placeholder="Birth Place" class="w-100" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>State/Province of Birth</mat-label>
            <input matInput placeholder="Birth Place" class="w-100" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Work Authorization</mat-label>
            <input matInput placeholder="Work Authorization" class="w-100" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-12">
          <h4 style="border-bottom: 1px solid #e0e0e0;margin-top:20px;font-size: 16px;">Contact Info</h4>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Work Mail</mat-label>
            <input matInput placeholder="Enter Your Work Mail" class="w-100">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Personal Mail</mat-label>
            <input matInput placeholder="Enter Your Personal Mail" class="w-100">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Home Phone</mat-label>
            <input matInput placeholder="Enter Your Home Phone" class="w-100">
            <mat-icon matSuffix>dialpad</mat-icon>
          </mat-form-field>
        </div>
  
        <div class="col-lg-3">
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Enter Your Phone Number" class="w-100">
            <mat-icon matSuffix>local_phone</mat-icon>
          </mat-form-field>
        </div>
  
      </div>
    </mat-card>
  </div>
  
