<div class="fluid-container p-4 m-2" style="background-color: #a8bbf38f;">
    <div class="row">
        <div class="col-lg-8">
            <h1>Physicians</h1>
        </div>
        <div class="col-lg-2">
            <div class="form-group w-100">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Speciality</option>
                    <option>Dentist</option>
                    <option>Gen Sergen</option>
                    <option>Orthopedics</option>
                    <option>Psychiatrist</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group has-feedback">
                <input style="position:relative;" class="form-control pl-lg-4 pl-4" name="UserName" type="text"
                    placeholder="Search...">
                <span style="position:absolute; left:26px;top:12px;" class="fa fa-search "></span>
            </div>
        </div>
    </div>

    <div class="col-lg-12 px-lg-0 col-12 px-0">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Physicians</h4>
            </div>
            <div class="card-body">
                <div class="table-respnsive-md">
                    <table class="table table-striped-primary table-borderless">
                        <thead>
                            <tr class="text-center">
                                <th>Profile</th>
                                <th>Speciality</th>
                                <th>Alerts</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center align-middle">
                                    <img alt="Bob Doe's avatar" src="../../../assets/avatar1.jpg"
                                        class="" style="height: 40px;width:40px;margin-right: 10px;" />
                                    Dr.Bob Doe
                                </td>

                                <td class=" text-center align-middle">
                                    Gen Surgeon
                                </td>

                                <td class=" text-center align-middle">
                                    London
                                </td>

                                <td class="text-center align-middle">
                                    <mat-icon style="color: black;">email</mat-icon>
                                    <mat-icon style="color: green;">call</mat-icon>
                                    <mat-icon style="color: blue;">person</mat-icon>
                                    <mat-icon style="color: orange;">info</mat-icon>
                                    <mat-icon style="color: blue;">edit</mat-icon>
                                    <mat-icon style="color: red;">delete</mat-icon>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>