<div class="fluid-container p-4" style="background-color: #eff3fc;">
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div style="background-color: #f8f8f8;border-radius: 10px;padding: 10px;">

                <div
                    style="margin: 10px 16px 16px 16px;background-color: #f7f9fc;padding: 16px;border-radius: 10px;">
                    <h3 style="margin-top: 10px;font-size: 22px; font-weight: 800;color: rgb(35, 85, 223);">CVO2</h3>
                    <p style="margin-top: 5px;font-size: 15px;color:thistle;">Credentialing for the Healthcare System.</p>                   
                </div>
                
                <div >
                    <img src="assets/thankyou_dr.png" alt="image"
                            style="height:100%;width:100%;" />
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            
            <div class="row">
                <div class="col-12 ">

                    <div class="bgc-white shadow-sm radius-2 "
                        style="background-color: white;border-radius:10px">

                        <div class="row">
                            <div class="col-12 top">
                                <div style="display: flex; align-items: center;justify-content: flex-end; margin-right: 5%;margin-top: 5%;">
                                    <select name="" id="" >
                                        <option value="English(USA)">English(USA)</option>
                                    </select>
                                </div>
                            </div>
        
                            <div class="col-12 signup_top">
                                <h3 style="margin-top: 10px;margin-left: 5%;font-size: 22px; font-weight: 500;color: rgb(22, 22, 22);">Start for Free</h3>
                                <p style="margin-top: 10px;margin-left: 5%;font-size: 22px; font-weight: 500;color: rgb(22, 22, 22);">Sign up to CVO2</p>
                                <p style="margin-top: 10px;margin-left: 5%;font-size: 15px; font-weight: 300;color: rgb(22, 22, 22);">Already a member? <a href="login">Log in</a></p>
                            </div>
        
                            <div class="col-8 signup_middle">
                                <!-- Default form login -->
                                    <form class="border border-light p-5">

                                        <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-1">
                                            <div class="d-flex align-items-center input-floating-label brc-success-m2">
                    
                                              <div class="mb-1 w-100 text-center">
                                                <label class="primary-color">
                                                  <input type="radio" name="userType"  value="physician" class="mr-1"/>
                                                  Physician
                                                </label>
                                                <label class="ml-2 primary-color ">
                                                  <input type="radio" name="userType"  value="hospital" class="mr-1" />
                                                  Hospital
                                                </label>
                                              </div>
                                            </div>
                                          </div>

                                        <div class="form-group col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-3">
                                            <label for="" class="">First Name</label>                                    
                                            <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="First Name">
                                        </div>

                                        <div class="form-group col-sm-12 col-md-8 offset-md-2 col-lg-10 offset-lg-3">
                                            <label for="" class="">Last Name</label>                                    
                                            <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Last Name">
                                        </div>

                                        <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-10 offset-lg-3">
                                            <label for="" class="">Role</label>                                    
                                            <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Role">
                                        </div>

                                        <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-10 offset-lg-3">
                                            <label for="" class="">Practice Type</label>                                    
                                            <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Practice Type">
                                        </div>

                                        <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-10 offset-lg-3">
                                            <label for="" class="">How did you find about us?</label>                                    
                                            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="How did you find about us?">
                                        </div>

                                        <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-10 offset-lg-3">
                                            <label for="" class="">Email</label>                                    
                                            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                                        </div>

                                        <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-10 offset-lg-3">
                                            <label for="" class="">Phone Number</label>
                                        </div>
                                        <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-10 offset-lg-3">
                                            <input type="tel" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Phone Number" >
                                        </div>
                                                                                                                    
                                        <button mdbBtn color="info " block="true" class="my-4 btn btn-primary" type="submit" style="margin-left: 200px;">Create an Account</button>
                                        <br>
                                        <button type="button" class="login-with-google-btn " style="margin-left: 200px;" >
                                            Sign up with Google
                                        </button>                                                                   
                                    </form>
                                    <!-- Default form login -->                        

                                <div class="col-12 signup_bottom">
                                    <!-- <button type="button" class="login-with-google-btn " >
                                        Sign up with Google
                                    </button> -->
                                </div>

                            </div>
        
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>